
#title{
  background-color: #d3d8e6;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#dataTable{
    width: 40%;
    text-align: center;
    border: 3px solid black;
    border-collapse: collapse;
}
#dTtr{
  border: 3px solid black;
}
#singleGetDelete{
  padding-right: 60px;
  text-align: center;
  width: 20%;
}
#PostPut{
  padding-left: 60px;
  text-align: center;
  width: 20%;
}
#singleGetDelete{
    
    text-align: left;
}
#PostPut{
    
    text-align: left;
}
table {
  table-layout: auto;

  margin-top: 10px;

  border-color: black;
}   
#input1{
  width: 90px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
}

#idInput{
  width: 60px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
}
#tempInput{
  width: 60px;
  height: 40px;
  font-size: 15px;
  text-align: center; 
  box-sizing: border-box;
}
#humInput{
  width: 60px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
}
#co2Input{
  width: 60px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
}
#get{
  width: 267px;
  height: 50px;
  font-size: 20px;
  box-sizing: border-box;
  box-sizing: border-box;
}
#get1{
  width: 267px;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;
}
#delete{
  width: 267px;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;
}
#post{
  width: 290px;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;
}
#update{
    width: 290px;
    height: 40px;
    font-size: 15px;
  box-sizing: border-box;
}
